.switch {
    /*
    Track is made with the `input[type="checkbox"]`
    Thumb with the `:before`
    */

    // ----------------------------- Dimensions
    --thumb-size: 1rem;
    --track-size: calc(var(--thumb-size) * 2);
    --track-padding: calc(var(--thumb-size) / 4);
    --highlight-size: calc(var(--track-padding) / 2);

    // ----------------------------- Colors
    --clr: hsl(209 60% 50%); // Primary color
    --switch-h: 209;
    --switch-s: 60%;
    --switch-l: 50%;

    --thumb: hsl(0 0% 100%);
    --thumb-highlight: hsl(0 0% 0% / .25);

    --track-active: hsl(var(--switch-h) var(--switch-s) var(--switch-l));
    --track-inactive: hsl(0 0% 80%);

    --thumb-color: var(--thumb);
    --thumb-color-highlight: var(--thumb-highlight);
    --track-color-active: var(--track-active);
    --track-color-inactive: var(--track-inactive);

    @media (prefers-color-scheme: dark) {
        --thumb: hsl(0 0% 10%);
        --thumb-highlight: hsl(0 0% 100% / .25);

        --track-active: hsl(var(--switch-h) var(--switch-s) calc(var(--switch-l) - 15%));
        --track-inactive: hsl(0 0% 35%);
    }

    // ----------------------------- Animation
    --anim-dur: .2s;
    --anim-fn: ease-out;

    // ----------------------------- Layout
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem; // distance between Swith & Label

    &.label {
        &-right {
            flex-direction: row-reverse;
        }

        &-above {
            flex-direction: column;
        }

        &-under {
            flex-direction: column-reverse;
        }
    }

    // TRACK -------
    &>[type="checkbox"] {
        --thumb-position: 0%;

        appearance: none;
        inline-size: var(--track-size);
        block-size: var(--thumb-size);
        padding: var(--track-padding);

        border: none;
        border-radius: var(--track-size);
        outline-offset: 5px;
        box-sizing: content-box;

        background-color: var(--track-color-inactive);
        box-shadow: 0 0 var(--highlight-size) rgba(0, 0, 0, .125) inset;

        flex-shrink: 0; // flex item can't shrink, space is preserved for the switch
        display: grid;
        align-items: center;
        grid: [track] 1fr / [track] 1fr;

        transition: all var(--anim-dur) var(--anim-fn);

        // THUMB -------
        &::before {
            content: '';
            grid-area: track;
            inline-size: var(--thumb-size);
            block-size: var(--thumb-size);

            background-color: var(--thumb-color);
            border-radius: 50%;

            box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-highlight);
            transform: translateX(var(--thumb-position));
            transition: inherit;
            // transition:
            //     transform var(--anim-dur) var(--anim-fn),
            //     box-shadow var(--anim-dur) var(--anim-fn);
        }

        &:checked {
            --thumb-position: calc(var(--track-size) - 100%);
            background-color: var(--track-color-active);
        }

        &:disabled {
            --thumb-color: transparent;
            cursor: not-allowed;

            &::before {
                box-shadow: 0 0 0 var(--highlight-size) hsl(0 0% 100% / .5) inset;

                @media (prefers-color-scheme: dark) {
                    box-shadow: 0 0 0 var(--highlight-size) hsl(0 0% 0% / .5) inset;

                }
            }
        }

        &:not(:disabled):hover::before {
            --highlight-size: calc(var(--thumb-size) / 2);
            cursor: pointer;
        }
    }

    // ----------------------------- Interactions
    cursor: pointer;
    user-select: none; // label's text is not selectable
    -webkit-tap-highlight-color: transparent;
}


@media (prefers-reduced-motion: reduce) {
    .switch {
        --anim-dur: 0; // no transition
    }
}