/*** ---- Components' global variables & properties ---- ***/
:root {
    // ----------------------------- Colors
    --clr: hsl(209 60% 50%); // Primary color
    --h: 209;
    --s: 60%;
    --l: 50%;
    --clr-active: hsl(var(--h) var(--s) var(--l));
    --clr-inactive-bdr: hsl(0 0% 50%);
    --clr-inactive-bg: hsl(0 0% 85%);
    --clr-highlight: hsl(var(--h) var(--s) var(--l) / .25);


    @media (prefers-color-scheme: dark) {
        --clr-active: hsl(var(--h) var(--s) calc(var(--l) - 15%));
        --clr-inactive-bg: hsl(0 0% 35%);
        --clr-highlight: hsl(0 0% 100% / .25);
    }
}

.agf-component {
    // ----------------------------- Animation
    --anim-dur: .2s;
    --anim-fn: ease-out;

    &:focus:not(:focus-visible) {
        // disable the default outline on a focused element which doesn’t have the :focus-visible state (-> button after a mouse click)
        outline-color: transparent;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #fff;
        outline-offset: 5px;
    }

    &:not(:disabled):hover,
    & :not(:disabled):hover {
        cursor: pointer;
    }

    &:disabled:hover,
    & :disabled:hover {
        cursor: not-allowed;
    }

    &.label-right {
        flex-direction: row-reverse;
    }

    &.label-above {
        flex-direction: column;
    }

    &.label-under {
        flex-direction: column-reverse;
    }
}

@media (prefers-reduced-motion: reduce) {
    .agf-component {
        --anim-dur: 0; // no transition
    }
}